@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: #84E1AD;
    margin: 0px;
}

header {
    background-image: linear-gradient(to bottom, #3DDA83, #154C2E);
}

header > h1 {
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-align: center;
    padding: 20px;
}

header > p {
    text-align: center;
    color: white;
}

nav {
    padding-bottom: 10px;
    padding-left: 10px;
}

nav > a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    padding: 10px;
    text-decoration: none;
}

nav > a:hover {
    background-color: blue;
}

main {
    width: 820px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-bottom: 1px;
    border-radius: 0px 0px 10px 10px;
}

h1 {
    font-family: idroid;
    padding: 5px;
    color: #154C2E;
    margin-top: 0px;
    margin-left: 10px;
}

h2 {
    font-family: idroid;
    color: #154C2E;
    background-image: linear-gradient(to right, #b8f3d3, white);
    padding-left: 5px;
    margin-right: 5px;
    margin-left: 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    text-indent: 25px;
}

img {
    width: auto;
    height: auto;
    margin: 0px 10px;
}

.video-externo {
    display: flex;
    background-color: darkgreen;
    width: auto;
    height: auto;
    margin: 0px 10px;
}

.extra {
    background-color: #84E1AD;
    border-radius: 10px;
    margin: 1px 10px;
}

footer {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgreen;
    text-align: center;
    padding: 5px;
    font-size: small;
}

footer > p {
    margin: 0px;
}